@font-face {
	font-family: icons;
	font-display: swap;
	src: url(../fonts/icons.woff) format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: icons;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none; 
	list-style: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


//6574687867

._icon-facebook:before {
	content: "\ea90";
}
._icon-instagram:before {
	content: "\ea92";
}
._icon-telegram:before {
	content: "\ea95";
}
  